body {
	background: #EFCFAF;
	font-size: 20px;
}

.title {
	margin: auto;
}

.panel {
	display: grid;
	grid-row-gap: 10px;
	grid-template-columns: auto;
	justify-content: space-evenly;
	margin: auto;
	max-width: 300px;
}

.button {
	align-items: center;
	background: #FAFAAF;
	border: solid 4px black;
	display: flex;
	justify-content: space-evenly;
	margin: auto;
	min-height: 30px;
	text-align: center;
	width: 100%;
}

.button:hover {
	background: #AFAF5F;
	border-color: gray;
}

label {
	margin: auto;
}

#wait_dialog {
	display: none;
}



.progress_bar_bottom,
.progress_bar_middle,
.progress_bar_top {
	margin: auto;
	width: 100px;
	height: 100px;
	background: #FAFAAF;
	border-radius: 50%;
}

.progress_bar_middle {
	position: absolute;
	display: flex;
	background: #AFAF5F;
	clip-path: rect(0px 50px 100px 0px);

	animation-name: spinn;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

}

.progress_bar_top {
	background-color: #EFCFAF;
	clip-path: circle(40px);
	display: flex;
	justify-content: center;
	align-items: center;

}

@keyframes spinn {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}