#include "fb_core.hpp"

#include "fb_globals.hpp"
#include "fb_{{project}}_box_obj.hpp"
#include "fb_{{project}}_hw_obj.hpp"
#include "fb_{{project}}_mapper_obj.hpp"



using namespace fb;
using namespace project;



static void _handleEvent(const event::Event& event);
 


static BaseCore _core{&_handleEvent, "{{name}}"};

static CoreInfo _info = {
	.core = _core,
	.requiresTime = true,
};



static void _handleEvent(const event::Event& event)
{
	//do stuff
}



void project::bootInit()
{

}

const CoreInfo& project::getInfo()
{
	return _info;
}